body{
    background-color: rgb(170, 167, 167);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4rem;   
    margin: 0;
    width: 100%;
}

.container{
    display: grid;
    grid-template-areas: 
    "sidebar"
    "content"
    "footer";
    height: 100vh;
}

.sidebar{
    grid-area: sidebar;
    background: linear-gradient(
        rgb(190, 121, 159),
        rgb(180, 102, 145),
        rgb(151, 75, 117),
        rgba(141, 63, 106, 0.911)
    );
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

a{
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
}
a:hover{
    opacity: 1;
    
}
.content{    
    grid-area: content;
    margin: 15px auto;
    padding: 0 40px;
    text-align: center;
}
.container img{
    border-radius: 50%;    
    width: 220px;
    height: 220px;
}

.footer{
    grid-area: footer;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    opacity: .8;
    height: 90px;
    align-self: flex-end;
}
#hireme{
    text-decoration: none;
    color: white;
    background: rgb(121, 64, 196);
    padding: 6px 20px;
    border-radius: 20px;
    
}
#hireme:hover{
    transition:all .4s;
    border:3px solid rgb(121, 64, 196);
    background: linear-gradient(to right, red, white);
    
    color: rgb(235, 238, 235);
    background-color: white;
    
}

img{
    width: 20px;
    height: 20px;
}

.fab{
    padding: 10px 3px;
    font-size: 23px;
}

@media (min-width:682px){
    .container{
        grid-template-columns: 13rem auto;
        grid-template-areas: 
        "sidebar content"
        "sidebar footer";
        height: 100vh;
        text-align: left;
    }
    .sidebar{
        grid-area: sidebar;   
    }
    ul{
        display: flex;
        flex-direction: column;
        padding: 3rem 4.5rem;
    }
    ul li{
        padding-bottom: 3rem;
    }
    .content{
        grid-area: content;
        display: grid;
        grid-template-areas: "hero dp";
        grid-gap: 10px;
    }
    .dp{
        grid-area: dp;        
        align-self: center;
    }
    
    .hero{
        grid-area: hero;
        align-self: center;
        text-align: left;
    }
    .hero p{
        padding: 20px 0;
    }
    .footer{
        grid-area: footer;
    }
}